// Colors
$gray: #eeeeee;
$dark-gray: #d4d4d4;
$light-gray: #F5F5F5

// Google Fonts
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");

// Font Variables
// $main-font: "Montserrat", sans-serif;